In [1]:
import pandas as pd

from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression

In [2]:
train = pd.read_csv('train_modelling_rfe.csv')
train

,full_sq,num_room,state,culture_objects_top_25,build_count_monolith,ttk_km,railroad_km,cafe_count_500_na_price,cafe_count_1000_price_high,trc_count_1500,...,avg_dist_to_amenities,area_density,area_diff_sq,median_max_floor,max_floor_ratio,cpi,gdp_annual_growth,usdrub,invest_fixed_capital_per_cap,price_doc
0,43.0,2.0,2.0,0,2.0,10.918587,1.305159,0,0,9,...,3.464517,0.024279,47.993349,12.0,1.019467,354.0,0.045037,29.0048,73976.19863,5850000
1,34.0,2.0,2.0,1,4.0,3.103996,0.694536,0,0,7,...,2.336570,0.012029,47.993349,18.0,1.019467,354.0,0.045037,28.9525,73976.19863,6000000
2,43.0,2.0,2.0,0,4.0,2.927487,0.700691,0,0,1,...,0.778705,0.021153,47.993349,12.0,1.019467,354.0,0.045037,28.8082,73976.19863,5700000
3,89.0,2.0,2.0,0,50.0,14.606501,1.999265,0,0,7,...,2.509353,0.014183,47.993349,17.0,1.019467,353.2,0.045037,28.9655,73976.19863,13100000
4,77.0,2.0,2.0,0,16.0,1.721834,0.084113,3,1,9,...,1.658507,0.012880,47.993349,7.0,1.019467,353.2,0.045037,29.4625,73976.19863,16331452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30466,44.0,2.0,3.0,0,5.0,8.361875,1.137603,1,0,6,...,2.748987,0.017459,38.000000,12.0,0.750000,489.5,0.007065,55.2655,131403.00000,7400000
30467,86.0,4.0,3.0,1,25.0,1.238732,0.377368,3,1,7,...,1.383730,0.010315,76.000000,17.0,0.529412,489.5,0.007065,55.2655,131403.00000,25000000
30468,45.0,1.0,1.0,0,6.0,17.148737,1.727223,0,0,0,...,5.626612,0.000157,44.000000,17.0,1.176471,489.5,0.007065,55.2655,131403.00000,6970959
30469,64.0,2.0,2.0,0,9.0,8.940313,4.898047,0,0,1,...,1.297676,0.012994,53.000000,17.0,0.882353,489.5,0.007065,55.2655,131403.00000,13500000
30470,43.0,2.0,2.0,0,4.0,6.809408,0.734949,0,0,5,...,1.920053,0.021514,37.000000,9.0,1.000000,489.5,0.007065,55.2655,131403.00000,5600000

In [3]:
test = pd.read_csv('test_modelling_rfe.csv')
test

,full_sq,num_room,state,culture_objects_top_25,build_count_monolith,ttk_km,railroad_km,cafe_count_500_na_price,cafe_count_1000_price_high,trc_count_1500,...,kremlin_km,avg_dist_to_amenities,area_density,area_diff_sq,median_max_floor,max_floor_ratio,cpi,gdp_annual_growth,usdrub,invest_fixed_capital_per_cap
0,39.00,1.0,3.0,0,116.0,19.651101,0.490549,0,0,0,...,24.779082,6.585161,0.006816,30.10,14.0,0.642857,490.5,0.007065,55.5989,131403.0
1,79.20,3.0,1.0,0,7.0,16.975793,2.342346,0,0,0,...,21.722620,5.850703,0.000157,78.20,14.5,1.172414,490.5,0.007065,55.5989,131403.0
2,40.50,2.0,2.0,0,3.0,5.627481,2.220941,1,0,1,...,10.320728,1.569043,0.014007,35.70,5.0,1.000000,490.5,0.007065,55.5989,131403.0
3,62.80,2.0,3.0,0,7.0,22.094252,4.476081,0,0,0,...,26.960463,9.307631,0.000331,0.00,10.0,1.700000,490.5,0.007065,55.5989,131403.0
4,40.00,1.0,1.0,0,7.0,17.148737,1.727223,0,0,0,...,21.905792,5.626612,0.000157,39.00,14.5,1.172414,490.5,0.007065,55.5989,131403.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7657,52.20,2.0,2.0,0,3.0,7.927396,5.337760,0,0,9,...,12.812710,2.040075,0.019619,43.10,12.0,1.000000,523.2,-0.037267,65.5700,131403.0
7658,54.09,2.0,2.0,0,7.0,24.382134,8.607590,0,0,0,...,29.133765,12.815363,0.000262,54.09,17.0,0.000000,523.2,-0.037267,65.9385,131403.0
7659,41.08,1.0,1.0,1,25.0,4.081283,2.566044,9,1,25,...,0.072897,1.498330,0.010315,40.08,11.0,0.090909,523.2,-0.037267,65.6745,131403.0
7660,34.80,1.0,2.0,0,3.0,11.538742,2.461916,0,0,6,...,17.137752,2.805113,0.020421,28.40,12.0,0.750000,523.2,-0.037267,65.6745,131403.0
7661,63.00,3.0,3.0,0,3.0,7.784206,0.853114,0,0,11,...,13.037478,3.308156,0.018026,55.90,12.0,0.416667,523.2,-0.037267,65.6745,131403.0

In [4]:
df = pd.read_csv('submission.csv')
df

         id   price_doc
0     30474  7118500.41
1     30475  7118500.41
2     30476  7118500.41
3     30477  7118500.41
4     30478  7118500.41
...     ...         ...
7657  38131  7118500.41
7658  38132  7118500.41
7659  38133  7118500.41
7660  38134  7118500.41
7661  38135  7118500.41

[7662 rows x 2 columns]

In [5]:
def cluster_and_predict(k):
    X = train.drop("price_doc", axis=1)
    y = train["price_doc"]

    kmeans = KMeans(n_clusters=k)
    kmeans.fit(X)
    X['cluster_label'] = kmeans.labels_

    linear_regression_models = {}

    for cluster_label in range(k):
        X_cluster = X[X['cluster_label'] == cluster_label].drop('cluster_label', axis=1)
        y_cluster = y[X['cluster_label'] == cluster_label]
        reg = LinearRegression()
        reg.fit(X_cluster, y_cluster)
        linear_regression_models[cluster_label] = reg

    test['predicted_cluster_label'] = kmeans.predict(test)
    y_pred = test['predicted_cluster_label'].map(lambda x: linear_regression_models[x].predict(test[test['predicted_cluster_label'] == x].drop(['predicted_cluster_label'], axis=1))[0])
    
    return y_pred

In [6]:
y_pred = cluster_and_predict(1)

In [7]:
df['price_doc'] = y_pred
df

         id     price_doc
0     30474  6.185503e+06
1     30475  6.185503e+06
2     30476  6.185503e+06
3     30477  6.185503e+06
4     30478  6.185503e+06
...     ...           ...
7657  38131  6.185503e+06
7658  38132  6.185503e+06
7659  38133  6.185503e+06
7660  38134  6.185503e+06
7661  38135  6.185503e+06

[7662 rows x 2 columns]

In [8]:
df.to_csv("Kmean_Linear_New.csv", index=False)